<%= form_with(model: poll, class: "contents") do |form| %>
  <% if poll.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
        <% poll.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :text, "Ask a question" %>
    <%= form.text_field :text, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5" data-controller="nested-form">
    <template data-nested-form-target="template">
      <%= form.fields_for :choices, Choice.new, child_index: 'NEW_RECORD' do |choice_form| %>
        <%= render "choice_fields", form: choice_form %>
      <% end %>
    </template>

    <%= form.fields_for :choices do |choice_form| %>
      <%= render "choice_fields", form: choice_form %>
    <% end %>

    <div class="mb-3" data-nested-form-target="add">
      <%= form.button "Add Choice", type: "button", data: { action: "click->nested-form#addAssociation" } %>

      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
