<div id="<%= dom_id poll %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= poll.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Text:</strong>
    <%= poll.text %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this poll", poll, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this poll', edit_poll_path(poll), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
