<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || 'Pollster' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-orange-400">
    <%# <main class="container mx-auto mt-28 px-5 flex"> %>
    <header class="flex bg-white border-b-4 border-black ">
      <div class="container mx-auto p-6 w-full lg:max-w-screen-lg flex justify-between items-center">
        <h1 class="text-3xl font-bold">Pollster</h1>
        <%= render ButtonComponent.new(href: root_path) do %>
          Create Poll
        <% end %>
      </div>
    </header>
    <main class="container mx-auto mt-4 px-5 flex lg:max-w-screen-lg">
      <div class="w-full bg-white rounded-md border-4 border-black p-6">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
